:root {
  --bg-button: hsl(240, 2%, 35%);
  --bg-button-active: hsl(240, 2%, 30%);
  --border-button: 1px solid hsl(240, 2%, 20%);
  --text-color: hsl(0, 0%, 93%);
  --bg-button-operator: hsl(36, 100%, 52%);
  --bg-button-operator-active: hsl(36, 100%, 42%);
  --bg-button-control: hsl(240, 3%, 22%);
  --bg-button-control-active: hsl(240, 2%, 19%);
}

.btn {
  color: var(--text-color);
  background-color: var(--bg-button);
  border-bottom: var(--border-button);
  border-right: var(--border-button);
  border-left: none;
  border-top: none;
  cursor: initial;
  font-size: 1.3em;
  font-weight: 600;
  outline: none;
}

.btn:active,
.btnActive {
  background-color: var(--bg-button-active);
}

.double {
  grid-column: span 2;
}

.triple {
  grid-column: span 3;
}

.operator {
  background-color: var(--bg-button-operator);
  color: var(--text-color);
  font-size: 1.6em;
}

.operator:active,
.operator.btnActive {
  background-color: var(--bg-button-operator-active);
}

.operator-control {
  background-color: var(--bg-button-control);
  color: var(--text-color);
}

.operator-control:active,
.operator-control.btnActive {
  background-color: var(--bg-button-control-active);
}
