.calculator {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;
  height: 320px;
  overflow: hidden;
  width: 235px;
}
