.calculator {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 20px repeat(6, 48px);
  height: auto;
  overflow: hidden;
  width: 250px;
  border-radius: 4%;
}
