.title {
  align-items: center;
  background: #46474e;
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  grid-column: span 4;
  justify-content: center;
  padding: 6px;
  text-transform: uppercase;
}
