.title {
  align-items: center;
  background: hsl(240, 3%, 15%);
  color: hsl(217, 10%, 37%);
  display: flex;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  grid-column: span 4;
  justify-content: center;
  padding: 6px;
  text-transform: uppercase;
}
