@font-face {
  font-family: 'RobotoMono';
  src: url(../fonts/RobotoMono-Thin.ttf)
}

* {
  font-family: 'RobotoMono', monospace;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  align-items: center;
  background: #252a4c;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
}
