@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-mono-thin.woff2) format('woff2');
}

* {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  align-items: center;
  background: #0d1117;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
}
