.display {
  align-items: center;
  background-color: #ff8100;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  grid-column: span 4;
  justify-content: flex-end;
  overflow: hidden;
  padding: 20px;
}

.display-calc {
  align-items: center;
  background: #ff8100;
  border-bottom: 1px solid #d26d07;
  color: #48474f;
  display: flex;
  font-size: 12px;
  font-weight: bolder;
  grid-column: span 4;
  justify-content: flex-end;
  padding: 0 6px 0 0;
}
